{% extends 'base.html' %} {% load bootstrap3 %}{% load static %}{% block content %}
<div class="jumbotron" >

    <div id="landing">
        <h1 style="font-size: 1000%; text-align: center; padding-top: 10%; color: cyan;">AWAAA</h1>
        <h2 style="text-align: center;">~If You Like It Rate~</h2>
    </div>
</div>
<div class="container">
  <div class="row">
    {% for projo in projects %}

    <div class="col-md-4">
      <div class="card" style="width:400px">
        <div class="hovereffect">
          <img class="card-img-top" src="{{projo.image.url}}" width="500px" height="500px" alt="">
          <div class="overlay">
            <div class="rotate">
              <p class="group1">
               <a data-toggle="modal" href="#rate{{projo.id}}"><i class="far fa-heart"></i>

                    </a>
                <a href="{{projo.link}}">
                        <i class="fas fa-share"></i>
                    </a>
              </p>
              <hr>
              <hr>
              <p class="group2">
                <a href="{{projo.video.url}}">
                        <i class="fas fa-video"></i>
                    </a>
                <a href="/">
                        <i class="far fa-comment"></i>
                    </a>
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4>{{projo.name}}</h4>
          <h6><em>posted: {{projo.postedon}}</em></h6>
          <h6><em>BY {{projo.user.username}}</em></h6>
            <h6><em>avg Rating {{projo.average_rating}}</em></h6>
        </div>
      </div>
    </div>
      <!--MODAL-->
   <div class="modal fade" id="rate{{projo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rate site according to this categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <div class='row' style="margin-left: 10px;" >
                      <em><b>N/B:<h4>Fill in all the fields</h4></b></em>
                  </div>
      <div class="modal-body">
        <form  action="/review/{{projo.id}}" method="post" enctype="multipart/form-data">

    {%csrf_token%}

    {% bootstrap_form review %}
    <input type="submit" class="btn btn-success" value="Post">
  </form>
      </div>
      <div class="modal-footer">
        ...
      </div>
    </div>
  </div>
</div>
      <!--ENDMODAL-->
    {% endfor %}

  </div>
</div>

{% endblock %}