{% extends 'base.html' %} {% load static %}{% block content %}
<div class="jumbotron" >

    <div id="landing">
        <h1 style="font-size: 1000%; text-align: center; padding-top: 10%; color: cyan;">AWAAA</h1>
        <h2 style="text-align: center;">~If You Like It Rate~</h2>
    </div>
</div>
<div class="container">
  <div class="row">
    {% for projo in projects %}

    <div class="col-md-4">
      <div class="card" style="width:400px">
        <div class="hovereffect">
          <img class="card-img-top" src="{{projo.image.url}}" width="500px" height="500px" alt="">
          <div class="overlay">
            <div class="rotate">
              <p class="group1">
                <a href="/">
                        <i class="far fa-heart"></i>
                    </a>
                <a href="{{projo.link}}">
                        <i class="fas fa-share"></i>
                    </a>
              </p>
              <hr>
              <hr>
              <p class="group2">
                <a href="{{projo.video.url}}">
                        <i class="fas fa-video"></i>
                    </a>
                <a href="/">
                        <i class="far fa-comment"></i>
                    </a>
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4>{{projo.name}}</h4>
          <h6><em>posted: {{projo.postedon}}</em></h6>
          <h6><em>BY {{projo.user.username}}</em></h6>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}