{% load bootstrap3 %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">AWAAA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarColor02" style="">

        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

       <section class="icons-section">
      {% if user.is_authenticated %}
         <a class="fa fa-user" href="{% url 'myprofile'%}" ></a>

     <a class="fas fa-power-off" href="/logout" ></a>
      {% else %}
     <a class="fa fa-power-off" href="/accounts/login"></a>
      {% endif %}

  </section>

    <form class="form-inline my-2 my-lg-0 " role="search" action="{%url 'search_results' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"  name="project">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

